{{#if url}}
  <!-- cta area start -->
  <div class="rts-cta-area rts-section-gapBottom bg_faq">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="cta-main-wrapper bg_image">
            <div class="left">
              <h3 class="title">
                All set to level up
                <br />
                your content game?
              </h3>
              <a
                href="https://app.ai4chat.co/signup?ref={{url}}-CTA"
                class="rts-btn btn-primary"
              >Get Started Now</a>
            </div>
            <div class="right">
              <img src="/images/cta/02.png" alt="cta-area" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- cta area end -->
{{else}}
  <!-- cta area start -->
  <div class="rts-cta-area rts-section-gapBottom">
    <div class="container">
      <div class="row">
        <div class="">
          <div class="cta-main-wrapper bg_image col-lg-12">
            <div class="left col-lg-6 pr--20">
              <h3 class="title">
                Join AirBrush
              </h3>
              <p class="" style="font-size: 18px;">
                Embark on an inspiring journey into the artistic future with
                AirBrush! Discover how easy it is to bring your creative visions
                to life in just 4 simple steps—where innovation meets
                imagination.
              </p><a
                href="https://app.ai4chat.co/signup?ref=CTA"
                class="rts-btn btn-primary"
              >Get Started Now</a>
            </div>
            <div class="right row">
              <div class="col-lg-6">
                <div
                  style="margin-block: 10px; border: 1px solid #e2e2ff; border-radius: 10px; transition: 0.3s; text-align: center;"
                >
                  <div class="d-flex justify-content-start pl--20 pt--10">
                    <p> Step 1</p>
                  </div>
                  <div class="icon">
                    <svg
                      width="50"
                      height="50"
                      viewBox="0 0 50 50"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="50"
                        height="50"
                        rx="4"
                        fill="#3996fb"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M23.1719 17.5469C28 17.8281 32.1719 22 32.4531 26.7812C32.5 27.3906 32.0312 27.9531 31.4219 28C31.375 28 31.375 28 31.3281 28C30.7656 28 30.25 27.5312 30.25 26.9219C29.9688 23.2188 26.7344 19.9844 23.0312 19.75C22.4219 19.75 21.9531 19.1875 22 18.5781C22 17.9688 22.5625 17.5 23.1719 17.5469ZM23.5 13C30.9062 13 37 19.0938 37 26.5C37 27.3438 36.2969 28 35.5 28C34.6562 28 34 27.3438 34 26.5C34 20.7344 29.2656 16 23.5 16C22.6562 16 22 15.3438 22 14.5C22 13.7031 22.6562 13 23.5 13ZM21.0625 23.6406C24.5781 24.3438 27.1562 27.8594 26.3125 31.7031C25.7969 34.2344 23.7344 36.2969 21.2031 36.8125C16.8438 37.75 13 34.4219 13 30.25V18.625C13 18.0156 13.4688 17.5469 14.0781 17.5469H16.3281C16.9844 17.5469 17.4531 18.0156 17.4531 18.625V30.2031C17.4531 31.375 18.4844 32.4062 19.75 32.4062C20.9688 32.4062 22 31.4219 22 30.2031C22 29.2656 21.3438 28.4219 20.5 28.1406C20.0781 28 19.75 27.625 19.75 27.1094V24.7656C19.75 24.0625 20.3594 23.5 21.0625 23.6406Z"
                        fill="#3996fb"
                      />
                    </svg>
                  </div>
                  <div style="padding: 20px;">
                    <h6 class="title">Create your account</h6>
                    <p class="disc">
                      Register your account to get started
                    </p>
                  </div>
                  {{! <a
                    href="https://app.ai4chat.co/register"
                    class="more-case-btn"
                  >Register your account to get started<i
                      class="fa-regular fa-arrow-right"
                    ></i></a> }}
                </div>
                <div
                  style="margin-block: 10px; border: 1px solid #e2e2ff; border-radius: 10px; transition: 0.3s; text-align: center;"
                >
                  <div class="d-flex justify-content-start pl--20 pt--10">
                    <p> Step 3</p>
                  </div>
                  <div class="icon">
                    <svg
                      width="50"
                      height="50"
                      viewBox="0 0 50 50"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="50"
                        height="50"
                        rx="4"
                        fill="#3996fb"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M23.1719 17.5469C28 17.8281 32.1719 22 32.4531 26.7812C32.5 27.3906 32.0312 27.9531 31.4219 28C31.375 28 31.375 28 31.3281 28C30.7656 28 30.25 27.5312 30.25 26.9219C29.9688 23.2188 26.7344 19.9844 23.0312 19.75C22.4219 19.75 21.9531 19.1875 22 18.5781C22 17.9688 22.5625 17.5 23.1719 17.5469ZM23.5 13C30.9062 13 37 19.0938 37 26.5C37 27.3438 36.2969 28 35.5 28C34.6562 28 34 27.3438 34 26.5C34 20.7344 29.2656 16 23.5 16C22.6562 16 22 15.3438 22 14.5C22 13.7031 22.6562 13 23.5 13ZM21.0625 23.6406C24.5781 24.3438 27.1562 27.8594 26.3125 31.7031C25.7969 34.2344 23.7344 36.2969 21.2031 36.8125C16.8438 37.75 13 34.4219 13 30.25V18.625C13 18.0156 13.4688 17.5469 14.0781 17.5469H16.3281C16.9844 17.5469 17.4531 18.0156 17.4531 18.625V30.2031C17.4531 31.375 18.4844 32.4062 19.75 32.4062C20.9688 32.4062 22 31.4219 22 30.2031C22 29.2656 21.3438 28.4219 20.5 28.1406C20.0781 28 19.75 27.625 19.75 27.1094V24.7656C19.75 24.0625 20.3594 23.5 21.0625 23.6406Z"
                        fill="#3996fb"
                      />
                    </svg>
                  </div>
                  <div style="padding: 20px;">
                    <h6 class="title">Provide short description</h6>
                    <p class="disc">
                      Provide description of the type of the image you want to
                      generate
                    </p>
                  </div>
                  {{! <a
                    href="https://app.ai4chat.co/register"
                    class="more-case-btn"
                  >Register your account to get started<i
                      class="fa-regular fa-arrow-right"
                    ></i></a> }}
                </div>
              </div>
              <div class="col-lg-6">
                <div
                  style="margin-block: 10px; border: 1px solid #e2e2ff; border-radius: 10px; transition: 0.3s; text-align: center;"
                >
                  <div class="d-flex justify-content-start pl--20 pt--10">
                    <p> Step 2</p>
                  </div>
                  <div class="icon">
                    <svg
                      width="50"
                      height="50"
                      viewBox="0 0 50 50"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="50"
                        height="50"
                        rx="4"
                        fill="#3996fb"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M23.1719 17.5469C28 17.8281 32.1719 22 32.4531 26.7812C32.5 27.3906 32.0312 27.9531 31.4219 28C31.375 28 31.375 28 31.3281 28C30.7656 28 30.25 27.5312 30.25 26.9219C29.9688 23.2188 26.7344 19.9844 23.0312 19.75C22.4219 19.75 21.9531 19.1875 22 18.5781C22 17.9688 22.5625 17.5 23.1719 17.5469ZM23.5 13C30.9062 13 37 19.0938 37 26.5C37 27.3438 36.2969 28 35.5 28C34.6562 28 34 27.3438 34 26.5C34 20.7344 29.2656 16 23.5 16C22.6562 16 22 15.3438 22 14.5C22 13.7031 22.6562 13 23.5 13ZM21.0625 23.6406C24.5781 24.3438 27.1562 27.8594 26.3125 31.7031C25.7969 34.2344 23.7344 36.2969 21.2031 36.8125C16.8438 37.75 13 34.4219 13 30.25V18.625C13 18.0156 13.4688 17.5469 14.0781 17.5469H16.3281C16.9844 17.5469 17.4531 18.0156 17.4531 18.625V30.2031C17.4531 31.375 18.4844 32.4062 19.75 32.4062C20.9688 32.4062 22 31.4219 22 30.2031C22 29.2656 21.3438 28.4219 20.5 28.1406C20.0781 28 19.75 27.625 19.75 27.1094V24.7656C19.75 24.0625 20.3594 23.5 21.0625 23.6406Z"
                        fill="#3996fb"
                      />
                    </svg>
                  </div>
                  <div style="padding: 20px;">
                    <h6 class="title">Choose your use-case</h6>
                    <p class="disc">
                      Choose one of the available use-cases to generate your
                      image
                    </p>
                  </div>
                  {{! <a
                    href="https://app.ai4chat.co/register"
                    class="more-case-btn"
                  >Register your account to get started<i
                      class="fa-regular fa-arrow-right"
                    ></i></a> }}
                </div>
                <div
                  style="margin-block: 10px; border: 1px solid #e2e2ff; border-radius: 10px; transition: 0.3s; text-align: center;"
                >
                  <div class="d-flex justify-content-start pl--20 pt--10">
                    <p> Step 4</p>
                  </div>
                  <div class="icon">
                    <svg
                      width="50"
                      height="50"
                      viewBox="0 0 50 50"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="50"
                        height="50"
                        rx="4"
                        fill="#3996fb"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M23.1719 17.5469C28 17.8281 32.1719 22 32.4531 26.7812C32.5 27.3906 32.0312 27.9531 31.4219 28C31.375 28 31.375 28 31.3281 28C30.7656 28 30.25 27.5312 30.25 26.9219C29.9688 23.2188 26.7344 19.9844 23.0312 19.75C22.4219 19.75 21.9531 19.1875 22 18.5781C22 17.9688 22.5625 17.5 23.1719 17.5469ZM23.5 13C30.9062 13 37 19.0938 37 26.5C37 27.3438 36.2969 28 35.5 28C34.6562 28 34 27.3438 34 26.5C34 20.7344 29.2656 16 23.5 16C22.6562 16 22 15.3438 22 14.5C22 13.7031 22.6562 13 23.5 13ZM21.0625 23.6406C24.5781 24.3438 27.1562 27.8594 26.3125 31.7031C25.7969 34.2344 23.7344 36.2969 21.2031 36.8125C16.8438 37.75 13 34.4219 13 30.25V18.625C13 18.0156 13.4688 17.5469 14.0781 17.5469H16.3281C16.9844 17.5469 17.4531 18.0156 17.4531 18.625V30.2031C17.4531 31.375 18.4844 32.4062 19.75 32.4062C20.9688 32.4062 22 31.4219 22 30.2031C22 29.2656 21.3438 28.4219 20.5 28.1406C20.0781 28 19.75 27.625 19.75 27.1094V24.7656C19.75 24.0625 20.3594 23.5 21.0625 23.6406Z"
                        fill="#3996fb"
                      />
                    </svg>
                  </div>
                  <div style="padding: 20px;">
                    <h6 class="title">Download your image</h6>
                    <p class="disc">
                      Download the images to your device for further use
                    </p>
                  </div>
                  {{! <a
                    href="https://app.ai4chat.co/register"
                    class="more-case-btn"
                  >Register your account to get started<i
                      class="fa-regular fa-arrow-right"
                    ></i></a> }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- cta area start -->
  <div class="rts-cta-area rts-section-gapBottom">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div
              class="cta-main-wrapper bg_image"
              style="background-image: url(../images/bg/bg-image-1.jpg); padding-inline: 40px; border-radius: 40px;"
            >
              <div class="left">
                <h3 class="title">
                  Generate AI-powered images - in 1 click
                </h3>
                <p>
                  Create original stock photos, NFTs, art, and more - in just
                  seconds
                </p>
                <a
                  href="https://app.ai4chat.co/signup?ref=CTA"
                  class="rts-btn btn-primary"
                >Join Now</a>
              </div>
              <div class="right">
                <img src="/images/cta/02.png" alt="cta-area" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- cta area end -->
{{/if}}