<!-- pricing area start -->
<div class="rts-pricing-area rts-section-gap">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="title-conter-area">
               <h2 class="title">
                  Get Started For Free, No Credit <br>
                  Card Required
               </h2>
            </div>
         </div>
      </div>
      <!-- nav area start -->
      <ul class="nav mt--20 nav-tabs pricing-button-one" id="myTab" role="tablist">
         <li class="nav-item" role="presentation" style="display: none;">
            <button class="" id="once-tab" data-bs-toggle="tab" data-bs-target="#once" type="button" role="tab" aria-controls="once" aria-selected="false">Pay Once</button>
         </li>
         <li class="nav-item" role="presentation">
            <button class="active" id="monthly-tab" data-bs-toggle="tab" data-bs-target="#monthly" type="button" role="tab" aria-controls="monthly" aria-selected="true">Pay Monthly <span style="color: #3996fb;"></span></button>
         </li>
         <li class="nav-item" role="presentation">
            <button class="" id="yearly-tab" data-bs-toggle="tab" data-bs-target="#yearly" type="button" role="tab" aria-controls="yearly" aria-selected="false">Pay Yearly <span style="color: #3996fb;">(Get 2 months FREE!)</span></button>
         </li>
      </ul>
      <div class="tab-content" id="myTabContent">
         <div class="tab-pane fade" id="once" role="tabpanel" aria-labelledby="once-tab" style="display: none;">
            <div class="row g-5 mt--20">
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">10,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$6.25</h4>
                           <span>one-time</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">20,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$100</h4>
                           <span>one-time</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">50,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$30</h4>
                           <span>one-time</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">100,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$60</h4>
                           <span>one-time</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">200,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$120</h4>
                           <span>one-time</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">500,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$240</h4>
                           <span>one-time</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border
                           -p">Get Started</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
            <div class="row g-5 mt--20">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">5,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$2.5</h4>
                           <span>/month</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">10,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$5</h4>
                           <span>/month</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">20,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$12</h4>
                           <span>/month</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">50,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$25</h4>
                           <span>/month</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">100,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$50</h4>
                           <span>/month</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">200,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$100</h4>
                           <span>/month</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
         <div class="tab-pane fade" id="yearly" role="tabpanel" aria-labelledby="yearly-tab">
            <div class="row g-5 mt--20">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">5,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$25</h4>
                           <span>/year</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">10,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$50</h4>
                           <span>/year</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">20,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$100</h4>
                           <span>/year</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col
                  -lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">50,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$250</h4>
                           <span>/year</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">100,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$500</h4>
                           <span>/year</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="pricing-style-one">
                     <div class="head">
                        <span class="top">200,000 credits</span>
                        <div class="date-use">
                           <h4 class="title">$1000</h4>
                           <span>/year</span>
                        </div>
                     </div>
                     <div class="body">
                        <a href="https://app.ai4chat.co/register" class="rts-btn btn-border-p">Get Started</a>
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
      </div>
   </div>
</div>
<!-- pricing area end -->