<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/fav.png">
    <title>AI4Chat - All in One AI platform - AI Chat, Image, Video, Music, Voice</title>
		<meta name="description" content="All your favorite chatbots under one roof, including ChatGPT, OpenAI GPT4, Google Bard, Llama 2 & more. With multilingual support, voice & file chat and mobile apps.">
		<meta name="robots" content="index, follow">
		
		<!-- FB meta tags -->
		<meta property="og:title" content="AI4Chat - All AI chatbots under one roof - ChatGPT, GPT4, Bard, Llama 2 & More">
		<meta property="og:description" content="All your favorite chatbots under one roof, including ChatGPT, OpenAI GPT4, Google Bard, Llama 2 & more. With multilingual support, voice & file chat and mobile apps.">
		<meta property="og:image" content="https://i.postimg.cc/0NfzStnt/AI4Chat.png">
		<meta property="og:url" content="https://www.ai4chat.co">
		
		<!-- Twitter meta tags -->
		<meta name="twitter:title" content="AI4Chat - All AI chatbots under one roof - ChatGPT, GPT4, Bard, Llama 2 & More">
		<meta name="twitter:description" content="All your favorite chatbots under one roof, including ChatGPT, OpenAI GPT4, Google Bard, Llama 2 & more. With multilingual support, voice & file chat and mobile apps.">
		<meta name="twitter:image" content="https://i.postimg.cc/0NfzStnt/AI4Chat.png">



    <!-- bootstrap min css -->
    <link rel="stylesheet preload" href="/css/plugins/fontawesome-6.css" as="style">
    <link rel="stylesheet preload" href="/css/plugins/unicons.css" as="style">
    <link rel="stylesheet preload" href="/css/plugins/swiper.min.css" as="style">
    <link rel="stylesheet preload" href="/css/vendor/metismenu.css" as="style">
    <link rel="stylesheet preload" href="/css/vendor/bootstrap.min.css" as="style">
    <!-- custom css style -->
    <link rel="stylesheet preload" href="/css/style.css" as="style">
</head>

<body class="dark-version">

    {{> desktop-menu}}


    <!-- open up banner area start -->
	<div class="rts-banner-area-one bg_image--1 bg_image rts-section-gap">
	    <div class="mt--50 container">
	        <div class="row">
	            <div class="col-lg-12">
                        <div class="content-section">
                            <div class="hero-section">
                                <h1 class="lh-1">
                                    Generate AI-powered images - in 1 click.
                                </h1>
                                <p class="mt--40">
                                    With Airbrush's AI technology, you can create original stock
                                    photos,</br>  NFTs, art, and more - in just seconds.
                                </p>
                                <a
                                href="#"
                                class="pl--30 pr--30 py-4 rounded-pill custom-btn"
                                >
                                    Get Started
                                </a>
                            </div>
                            <div class="content-section-2">
                                {{> parallax}}
                            </div>
                        </div>
	                {{!-- </div> --}}
	            </div>
	        </div>
	    </div>
	</div>


{{>use-cases}}
    
{{> pricing}}

{{> faq}}
		
		{{> apps}}

    {{> cta}}

    {{> footer}}



    <div id="anywhere-home" class="">
    </div>
    
    {{> mobile-menu}}


    <!-- rts backto top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    <!-- rts backto top end -->


    <script src="/js/vendor/jquery.min.js" defer></script>
    <script src="/js/vendor/metismenu.js" defer></script>
    <script src="/js/plugins/bootstrap.min.js" defer></script>
    <script src="/js/plugins/swiper.js" defer></script>
    <script src="/js/plugins/contact.form.js" defer></script>
    <script src="/js/main.js" defer></script>

</body>



</html>