<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/fav.png">
    <title>Terms - AI4Chat</title>
		<meta name="description" content="Understand your rights and responsibilities when using our platform. Comprehensive guidelines for optimal and compliant AI4Chat usage.">
		<meta name="robots" content="index, follow">
		
		<!-- FB meta tags -->
		<meta property="og:title" content="Terms - AI4Chat">
		<meta property="og:description" content="Understand your rights and responsibilities when using our platform. Comprehensive guidelines for optimal and compliant AI4Chat usage.">
		<meta property="og:image" content="https://i.postimg.cc/0NfzStnt/AI4Chat.png">
		<meta property="og:url" content="https://www.ai4chat.co">
		
		<!-- Twitter meta tags -->
		<meta name="twitter:title" content="Terms - AI4Chat">
		<meta name="twitter:description" content="Understand your rights and responsibilities when using our platform. Comprehensive guidelines for optimal and compliant AI4Chat usage.">
		<meta name="twitter:image" content="https://i.postimg.cc/0NfzStnt/AI4Chat.png">



    <!-- bootstrap min css -->
    <link rel="stylesheet preload" href="/css/plugins/fontawesome-6.css" as="style">
    <link rel="stylesheet preload" href="/css/plugins/unicons.css" as="style">
    <link rel="stylesheet preload" href="/css/plugins/swiper.min.css" as="style">
    <link rel="stylesheet preload" href="/css/vendor/metismenu.css" as="style">
    <link rel="stylesheet preload" href="/css/vendor/bootstrap.min.css" as="style">
    <!-- custom css style -->
    <link rel="stylesheet preload" href="/css/style.css" as="style">
</head>

<body class="dark-version">

    {{> desktop-menu}}

<!-- rts breadcrumb area start-->
    <div class="rts-bread-crumb-area bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inne">
                        <div class="title-area">
                            <h1 class="bread-title">Terms</h1>
                            <div class="inner-wrapper">
                                <a href="https://www.ai4chat.co">Home</a>/
                                <a href="#" class="active">Terms</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts breadcrumb area end -->
<style>
.flex-app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-btn {
  width: 45%;
  max-width: 220px;
  color: #fff;
  margin: 20px 10px;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Lucida Grande", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px #3996fb solid;
  padding: 10px 10px;
}

.app-btn.blu {
  background-color: #101010;
  transition: background-color 0.25s linear;
}

.app-btn.blu:hover {
  background-color: #454545;
}

.app-btn i {
  width: 20%;
  text-align: center;
  font-size: 36px;
  margin-right: 7px;
}

.app-btn .big-txt {
  font-size: 25px;
  text-transform: capitalize;
}

/* Media query for screens below 768 pixels */
@media screen and (max-width: 768px) {
  .flex-app {
    flex-direction: column; /* Stack children vertically */
  }

  .app-btn {
    width: 90%; /* Adjust the button width to take more space */
    margin: 7px auto; /* Center the buttons horizontally */
  }
  
  .app-btn i {
    margin-bottom: 7px; /* Add space below the icon */
  }
  
  .app-btn span {
    margin-top: 7px; /* Add space above the text */
  }
}


</style>

    <!-- rts not found area start -->
    <div class="rts-not-found-area rts-section-gap bg-smooth-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="thumbanail-404 text-center">
                        <img src="/images/case/terms.svg" alt="terms" width="20%">
                        <div class="wrapper-para mt--45">
                            <h3 class="title">Terms & Conditions</h3>
                            <div class="disc">
                                


                            </div>
														
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts not found area end -->
		
		<div class="blog-detail-inenr-area pt--45 rts-section-gapBottom plr_sm--15 bg-smooth">
        <div class="container-bd">
            <div class="row">
                <div class="col-lg-12">
                    <div class="para-area-wrapper">
<h3>1. Introduction</h3>
<p>Welcome to AI4Chat. These Terms and Conditions govern your use of https://www.ai4chat.co and any related services provided by AI4Chat.</p>
<p>By accessing or using the website and our service, you agree to abide by these Terms and Conditions and any additional terms that may apply. If you disagree with any of these terms, you must not use our service.</p>

<h3>2. User Registration</h3>
<p>To use certain features of our service, you may be required to register for an account. When registering, you must provide accurate and complete information. You are responsible for keeping your password confidential.</p>

<h3>3. Use of AI Models</h3>
<p>AI4Chat provides users access to various AI models for chatbot purposes. Users are responsible for the prompts and content they input. Generated content by AI models is for the user's purpose, and AI4Chat does not endorse, guarantee, or be held responsible for the quality or nature of the generated content.</p>

<h3>4. Content Ownership</h3>
<p>Users retain all rights to the content generated using AI4Chat. AI4Chat does not claim any ownership rights to such content.</p>

<h3>5. Commercial Use</h3>
<p>You are free to use the generated content for both personal and commercial purposes.</p>

<h3>6. Limitations</h3>
<p>While AI4Chat aims to provide accurate and high-quality outputs from its AI models, we do not guarantee the correctness or fitness of generated content for a particular purpose.</p>

<h3>7. Support</h3>
<p>For any technical or account-related issues, you can contact our support team through the dashboard or email us at support@ai4chat.co. We will do our best to address your concerns promptly.</p>

<h3>8. Use of Cookies</h3>
<p>Our website uses cookies to enhance your user experience and to collect data for analytics. By using our service, you consent to the use of cookies. You can manage or opt-out of cookies in your browser settings, though doing so might affect certain functionalities of our service.</p>

<h3>9. Changes to Terms</h3>
<p>We reserve the right to modify these terms at any time. It is your responsibility to review these terms periodically. Continued use of AI4Chat signifies your acceptance of any updated or modified terms.</p>

<h3>10. Limitation of Liability</h3>
<p>AI4Chat will not be liable for any indirect, incidental, special, consequential, or punitive damages, including but not limited to loss of profits, data, use, goodwill, or other intangible losses, resulting from your access to or use of or inability to access or use the service.</p>

<h3>11. Contact Us</h3>
<p>If you have questions about these Terms and Conditions, please contact us at support@ai4chat.co.</p>
										</div>
                </div>
            </div>
        </div>
    </div>




    {{> faq}}
		
		{{> apps}}

    {{> cta}}

    {{> footer}}



    <div id="anywhere-home" class="">
    </div>
    
    {{> mobile-menu}}


    <!-- rts backto top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    <!-- rts backto top end -->


    <script src="/js/vendor/jquery.min.js" defer></script>
    <script src="/js/vendor/metismenu.js" defer></script>
    <script src="/js/plugins/bootstrap.min.js" defer></script>
    <script src="/js/plugins/swiper.js" defer></script>
    <script src="/js/plugins/contact.form.js" defer></script>
    <script src="/js/main.js" defer></script>

</body>



</html>